.Rproj.user
.Rhistory
.RData
.here

data/raw/casava-18-paired-end-demultiplexed*/*
data/reference/*silva*
data/reference/*.biom
data/intermediate/maaslin2/digesta/figures/
data/intermediate/maaslin2/digesta/*.rds
data/intermediate/maaslin2/digesta/*.log
data/intermediate/maaslin2/mucosa/figures/
data/intermediate/maaslin2/mucosa/*.rds
data/intermediate/maaslin2/mucosa/*.log

code/*_cache
code/*_files
code/.ipynb_checkpoints





